
:root {
  --font-main: Montserrat, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html, body {
  height: 100%;
  /* max-height: 100%; */
}

body {
  background: #232931;
  overflow: hidden;
}

body * {
  color: #eee;
  
}

button {
  background: none;
  cursor: pointer;
}



.slider > div {
  position: absolute;
  width: 90%; 
  min-height: 70%;
  background-color: #393E46;
  padding-bottom: 20px;
  will-change: transform;
}

@media (min-width: 640px) {
  .slider > div {
    width: 400px; 
  }
}


.trans > div.group {
  --cubic: cubic-bezier(0, 1, 1, 1);

  transition:
    transform var(--time, 100ms) var(--cubic),
    filter var(--time, 100ms) var(--cubic);
}

.slider > div:not(.group) {
  display: none;
}



/* .slider { */
  /* position: relative; */
  /* width:  100%;
  height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden; */
/* } */


/* .slider div {
  position: absolute;
  width: 300px; 
  height: 420px;
  background-color: #8f9eeb;
  border-radius: 10px;
  box-shadow: 0 -10px 30px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider div p {
  font-size: 50px;
  color: white;
  user-select: text;
}

.trans div {
  transition: all var(--time, 100ms);
} */